@import url("root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}



body {
  font-family 'Noto Sans',  sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.section-light {
  background-color: var(--bg-color-light);
}
.section-dark {
  background-color: var(--bg-color-dark);
}
/* === STYLES === */

.header {
  font-family: Montserrat, sans-serif;
}
.header__top {
  background-color: var(--background-header-top);
}

.header__phone {
  color: var(--text-color-light);
  letter-spacing: .25px;
  line-height: calc(var(--index) * 2.85);
  padding-left: 20px;
  padding-right: 30px;
  position: relative;
}
.header__phone::before {
      content: "\f095";
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      color: var(--bg-color-btn);
}
.header__email {
  color: var(--text-color-light);
  letter-spacing: .25px;
  line-height: calc(var(--index) * 2.85);
  padding-left: 24px;
  position: relative;
}
.header__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: var(--bg-color-btn);
}
.header__btn {
  float: right;
  line-height: calc(var(--index) * 2.3);
  color: var(--bg-color-dark);
  background-color: var(--bg-color-btn);
  padding: 5px 20px 4px 50px;
  /* font-size: 16px; */
  font-size: calc(var(--index));
  font-weight: 500;
  display: block;
  position: relative;
}
.header__btn::before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: var(--bg-color-dark);
}
.header__contacts:after {
  content: '';
  clear: both;
  display: block;
}
.header__content {
  padding: 34px 0 23px;
  background-color: var(--bg-color-light);
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
}
.menu  {
  & li {
    display: inline-block;
  }
     & li + li {
    padding-left: 10px;
    }

  & a {
    color: var(--text-color);
    font-size: calc(var(--index));
    line-height: calc(var(--index) * 2.3);
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;

        &:hover {
      border: 1px solid var(--bg-color-btn);
      }
  }
  
}

.header__content {
}
.header__logo {
}
.menu {
}